{% extends 'ecomsite/main.html' %}
{% load static %}

{% block content %}
<!-- our-story section -->
<!-- banner section -->
    <section class="banner-section inner-page-banner">
      <div class="container">
        <h1 class="text-center">About Us</h1>
      </div>
    </section>
    <!-- end banner section -->

 <section class="our-story-section section ">
      <div class="container text-center">
          {%for i in os1%}
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10" data-aos="fade-up" data-aos-duration="3000">
              <h2 class="section-title">

                <span>{{i.ostory_curcive_text}}</span>
                  {{i.ostory_bold_text}}
              </h2>
              <p class="text-para">{{i.ostory_p1}}</p>
              <p class="text-para">{{i.ostory_p2}}</p>
              <div class="text-center">
                <a href="{{i.ostory_link}}" class="btn btn-fill mt-3">Read More</a>
              </div>
            </div>
          </div>
          {%endfor%}
      </div>
    </section>
<!-- end our-story section -->

<!-- why-choose section -->
    <section class="why-choose-section section">
      <div class="container text-center">
        <h2 class="section-title">
          WHY
          <span>Choose Us</span>
        </h2>
        <div class="row">
             {%for i in w1%}
          <div class="col-md-4">

            <div class="why-single-box" data-aos="fade-up" data-aos-duration="3000">
              <img src='/media/{{i.wcu_image}}' alt="">
              <h4><span class="d-block">{{i.wcu_title}}</span> {{i.wcu_subtitle}}</h4>
              <p>{{i.wcu_p}}</p>
            </div>

          </div>
            {%endfor%}
        </div>
        <div class="text-center">
          <a href="/register/" class="btn btn-bordered btn-lg mt-2 mt-md-5">Register Now</a>
        </div>
      </div>
    </section>
    <!-- end why-choose section -->

<!-- work-with section -->
    <section class="work-with-section section" data-aos="fade-down" data-aos-duration="1000">
      <div class="container text-center">
        <img src='{% static "ecomsite/images/suppliers-rnw.png" %}' alt="">
        <h2 class="section-title">
          <span>We work with</span>
        </h2>
        <div class="row align-items-center">
            {%for i in www%}
          <div class="col-6 col-md-3 work-with-logo">
            <img src='/media/{{i.www_image}}' class="img-fluid" alt="">
          </div>
            {%endfor%}
        </div>
      </div>
    </section>
    <!-- end work-with section -->

<!-- manage-your section -->
    <section class="manage-your-section section" data-aos="fade-up">
      <div class="container">
          {%for i in mys%}
        <div class="manage-bg">
          <div class="row align-items-end">
            <div class="col-lg-4 col-md-8">
              <h3>{{i.mys_title}}</h3>
            </div>
            <div class="col-lg-3 col-md-4">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#" class="golden-bg"><img src='/media/{{i.mys_icon1}}'  class="img-fluid" alt=""></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="dark-golden-bg"><img src='/media/{{i.mys_icon2}}'class="img-fluid" alt=""></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="black-golden-bg"><img src='/media/{{i.mys_icon3}}' class="img-fluid" alt=""></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="truck-img text-center">
          <img src='/media/{{i.mys_image}}' class="img-fluid" alt="">
        </div>
          {%endfor%}
      </div>
    </section>
    <!-- end manage-your section -->

<section class="our-fleet-section section" data-aos="fade-up" data-aos-duration="1000">
      <div class="container text-center">
        <div class="row justify-content-center">
            {%for i in of%}
          <div class="col-xl-9 col-lg-10">
            <h2 class="section-title">{{i.of_title}}</h2>
            <p class="text-para">{{i.of_desc1}}</p>
            <p class="text-para">{{i.of_desc2}}</p>
            <div class="text-center">
              <a href='/register/' class="btn btn-fill mt-4">Register Now</a>
            </div>
          </div>
            {%endfor%}
        </div>
      </div>
    </section>

<!-- regions section -->
    <section class="regions-section" data-aos="fade-up" data-aos-duration="1000">
      <div class="container-fluid">
          {%for i in rws%}
        <div class="row align-items-center">
          <div class="col-lg-6 px-0">
            <img src='/media/{{i.rws_image}}' class="w-100" alt="">
          </div>
          <div class="col-lg-6 regions-content">
            <h2 class="section-title">
              <span>{{i.rws_title}}</span>
            </h2>
            <p class="text-para">{{i.rws_p1}}</p>
            <p class="text-para">{{i.rws_p2}}</p>
            <a href='/contactus/' class="btn btn-fill mt-4">Contact Us</a>
          </div>
        </div>
          {%endfor%}
      </div>
    </section>
    <!-- end regions section -->

{%endblock%}