{% extends 'ecomsite/main.html' %}
{% block content %}

 <!-- banner section -->
    <section class="banner-section inner-page-banner">
      <div class="container">
        <h1 class="text-center">Contact Us</h1>
      </div>
    </section>
    <!-- end banner section -->

<div class="container my-3 pb-3 pt-5">
    <form action="/contactus/" method="post" style="color: #805c24">{% csrf_token %}
  <div class="form-group pt-3">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
  </div>
  <div class="form-group pt-3">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
  </div>

    <div class="form-group pt-3">
    <label for="name">Phone</label>
    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
  </div>


   <div class="form-group pt-3">
    <label for="desc">How May We Help You?</label>
    <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
  </div>
        <div class="row justify-content-center mt-md-5 pt-3">
            <div class="col-6 col-md-6">
              <button type="submit" class="btn btn-fill w-100">Submit</button>
            </div>
            <div class="col-6 col-md-auto pl-0">
              <button type="button" class="btn btn-fill btn-gray"><a href="\contactus\" style="color:white">Cancel</a></button>
            </div>
        </div>
</form>



</div>
{% endblock %}
