{% extends 'ecomsite/main.html' %}
{% block content %}
{%load static%}
    <!-- banner section -->
    <section class="banner-section inner-page-banner">
      <div class="container">
        <h1 class="text-center">Flash Sale on Products</h1>
      </div>
    </section>
    <!-- end banner section -->

    <!-- product section -->
    <section class="product-page section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="product-left-menu">
              <div class="d-dm-none menu-line-icon" id="product-left-menu-icon">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <ul class="list-unstyled">
              <li class="list-title">
                <a class="collapsed" data-toggle="collapse" href="#shop-by-product" role="button">SHOP BY CATEGORY</a>
                <ul class="list-unstyled collapse" id="shop-by-product">

                  <li class="list-title">
                    {%for i in pc%}

                  <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{i.name}}">
                    <label class="custom-control-label" for="{{i.name}}">{{i.name}}</label>
                  </li>

                    {%endfor%}
                  </li>

                </ul>
              </li>
              <li class="list-title">
                <a class="collapsed" data-toggle="collapse" href="#shop-by-brand" role="button">SHOP BY BRAND</a>
                <ul class="list-unstyled product-name-list collapse" id="shop-by-brand">
                  {%for i in pb%}
                  <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{i.name}}">
                    <label class="custom-control-label" for="{{i.name}}">{{i.name}}</label>
                  </li>
                  {%endfor%}
                </ul>
              </li>
              <li class="list-title">
                <a class="collapsed" data-toggle="collapse" href="#shop-by-supplier" role="button">SHOP BY SUPPLIER</a>
                <ul class="list-unstyled product-name-list collapse" id="shop-by-supplier">
                  {%for i in sup%}
                  <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{i.name}}">
                    <label class="custom-control-label" for="{{i.name}}">{{i.name}}</label>
                  </li>
                  {%endfor%}
                </ul>
              </li>
              <li class="list-title">
                <a class="collapsed" data-toggle="collapse" href="#seasonal-promotions" role="button">SEASONAL PROMOTIONS</a>
                <ul class="list-unstyled product-name-list collapse" id="seasonal-promotions">
                  <li class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="FlashSale">
                    <label class="custom-control-label" for="FlashSale">Flash Sale</label>
                  </li>
                </ul>
              </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row">
              {%for i in pr%}
                {%if i.flash_sale%}
              <div class="col-xl-4 col-md-6">
                <div class="single-product-box">
                  <div class="sale-tag">FLASH SALE</div>

                  <img src="/media/{{i.pr_image}}" class="img-fluid product-img" alt="">
                  <h4>{{i.pr_title}}</h4>
                  <p>{{i.pr_desc}}</p>
                 {%if request.session.user_id %}
                  <div class="d-flex">
                    <a href="javascript:void(0)" class="product-cart" onclick="addtocart('{{i.pr_id}}','{{request.session.user_id}}')"><img src='{%static "ecomsite/images/cart-icon.svg"%}' class="img-fluid" alt=""></a>
                    <a href="javascript:void(0)" class="product-cart" onclick="wish('{{i.pr_id}}','{{request.session.user_id}}')"><img src='{%static "ecomsite/images/wishlist-icon.svg"%}' class="img-fluid" alt=""></a>
                  </div>
                  {%endif%}
                </div>
              </div>
              {%endif%}
              {%endfor%}


            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end product section -->

  <!-- product-sold section -->
    <section class="product-sold-section section" data-aos="fade-down" data-aos-duration="3000">
      <div class="container">
          {%for i in hsp%}
        <div class="row">
          <div class="col-lg-5 product-sold-content">
            <h2 class="section-title">
              <span>{{i.hsp_curcive_text }}</span>
                {{i.hsp_title1 }}<label>{{i.hsp_title2 }}</label>
            </h2>
            <p>*{{i.hsp_subtitle}}</p>
            <a href="/register/" class="btn btn-bordered">Register Now</a>
          </div>
          <div class="col-lg-7 product-sold-img">
            <img src='/media/{{i.hsp_image}}' class="img-fluid" alt="">
          </div>
        </div>
          {%endfor%}
      </div>
    </section>
    <!-- end product-sold section -->

<!-- work-with section -->
    <section class="work-with-section section" data-aos="fade-down" data-aos-duration="1000">
      <div class="container text-center">
        <img src='{% static "ecomsite/images/suppliers-rnw.png" %}' alt="">
        <h2 class="section-title">
          <span>We work with</span>
        </h2>
        <div class="row align-items-center">
            {%for i in www%}
          <div class="col-6 col-md-3 work-with-logo">
            <img src='/media/{{i.www_image}}' class="img-fluid" alt="">
          </div>
            {%endfor%}
        </div>
      </div>
    </section>
    <!-- end work-with section -->

<!-- manage-your section -->
    <section class="manage-your-section section" data-aos="fade-up">
      <div class="container">
          {%for i in mys%}
        <div class="manage-bg">
          <div class="row align-items-end">
            <div class="col-lg-4 col-md-8">
              <h3>{{i.mys_title}}</h3>
            </div>
            <div class="col-lg-3 col-md-4">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#" class="golden-bg"><img src='/media/{{i.mys_icon1}}'  class="img-fluid" alt=""></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="dark-golden-bg"><img src='/media/{{i.mys_icon2}}'class="img-fluid" alt=""></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="black-golden-bg"><img src='/media/{{i.mys_icon3}}' class="img-fluid" alt=""></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="truck-img text-center">
          <img src='/media/{{i.mys_image}}' class="img-fluid" alt="">
        </div>
          {%endfor%}
      </div>
    </section>
    <!-- end manage-your section -->

<section class="our-fleet-section section" data-aos="fade-up" data-aos-duration="1000">
      <div class="container text-center">
        <div class="row justify-content-center">
            {%for i in of%}
          <div class="col-xl-9 col-lg-10">
            <h2 class="section-title">{{i.of_title}}</h2>
            <p class="text-para">{{i.of_desc1}}</p>
            <p class="text-para">{{i.of_desc2}}</p>
            <div class="text-center">
              <a href='/register/' class="btn btn-fill mt-4">Register Now</a>
            </div>
          </div>
            {%endfor%}
        </div>
      </div>
    </section>

<!-- regions section -->
    <section class="regions-section" data-aos="fade-up" data-aos-duration="1000">
      <div class="container-fluid">
          {%for i in rws%}
        <div class="row align-items-center">
          <div class="col-lg-6 px-0">
            <img src='/media/{{i.rws_image}}' class="w-100" alt="">
          </div>
          <div class="col-lg-6 regions-content">
            <h2 class="section-title">
              <span>{{i.rws_title}}</span>
            </h2>
            <p class="text-para">{{i.rws_p1}}</p>
            <p class="text-para">{{i.rws_p2}}</p>
            <a href='/contactus/' class="btn btn-fill mt-4">Contact Us</a>
          </div>
        </div>
          {%endfor%}
      </div>
    </section>
    <!-- end regions section -->

{%endblock%}