{% load static %}

<!-- footer section -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col footer-column1">
            <h5>Subscribe For Newsletter!</h5>
            <p>Register now to get updates on promotions & coupons.</p>
            <input type="email" class="form-control" placeholder="Your Email Address...">

            <h5>Follow Us</h5>
            <ul class="list-inline social-icon">
              <li class="list-inline-item">
                <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <div class="col">
            <h5>My Account</h5>
            <ul class="list-unstyled footer-link">
              <li><a href="/aboutus/">About Us</a></li>
              <li><a href="#">Orders History</a></li>
              <li><a href="#">Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Site Map</a></li>            
            </ul>
          </div>
          <div class="col">
            <h5>Information</h5>
            <ul class="list-unstyled footer-link">
              <li><a href="#">Shipping Policy</a></li>
              <li><a href="#">Compensation First</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Return Policy</a></li>
              <li><a href="/contactus/">Contact Us</a></li>
            </ul>
          </div>
          <div class="col contact-col">
            <h5>Contact Us</h5>
            <ul class="list-unstyled footer-link">
              <li class="media">
                <img src='{% static "ecomsite/images/phone-icon3.svg" class="mr-2" alt="" %}'><a href="tel:18001234567" class="media-body">1 (800) 123-4567</a>
              </li>              
              <li class="media">
                <img src='{% static "ecomsite/images/phone-icon3.svg" class="mr-2" alt="" %}'><a href="tel:19058583261" class="media-body">+1 (905) 858-3261</a>
              </li>              
              <li class="media">
                <img src='{% static "ecomsite/images/fax-icon.svg" class="mr-2" alt="" %}'><a href="tel:19051234567" class="media-body">+1 (905) 123-4567</a>
              </li>              
              <li class="media">
                <img src='{% static "ecomsite/images/email-icon3.svg" class="mr-2" alt="" %}'><a href="mailto:sales@rnwent.ca" class="media-body">sales@rnwent.ca</a>
              </li>              
              <li class="media align-items-start">
                <img src='{% static "ecomsite/images/location-icon.svg" class="mr-2" alt="" %}'><span class="media-body">16 Rimini Mews, Mississauga, ON L5N 4K1</span>
              </li>
            </ul>
          </div>
        </div>
        <p class="copyright"> © 2020, RNW Enterprises Inc.. All Rights Reserved.</p>
      </div>      
    </footer>
    <!-- end footer section -->
