{% extends 'ecomsite/main.html' %}
{% load static %}

{% block content %}
 <!-- banner section -->
 <section class="banner-section">
      <div id="banner-carousel" class="carousel slide" data-bs-ride="carousel" >
          <ol class="carousel-indicators">
            {% for i in range %}
            <li data-bs-target="#banner-carousel" data-bs-slide-to="{{i}}" class="{% if forloop.first %} active {% endif %}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for i in crousal %}
                      {% if forloop.first %}
                        <div class="carousel-item active">
                      {% else %}
                        <div class="carousel-item ">
                      {% endif %}
                        <div class="container">
                          <div class="row align-items-center">
                            <div class="col-md-6 banner-content order-2 order-md-1">
                              <h2>{{i.curcive_text}}</h2>
                              <h1><span>{{i.bold_text}}</span>
                              {{i.big_bold_text}}</h1>
                              <p>{{i.since_date}}</p>
                              <a href="{{i.carousal_link}}" class="btn btn-bordered">Read More</a>
                            </div>
                            <div class="col-md-6 banner-img pl-lg-0 order-1 order-md-2">
                              <img src='/media/{{i.carousal_image}}' class="img-fluid" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
            {% endfor %}
          </div>
      </div>
          </div>

 </section>
 <!-- end banner section -->
<!-- our-story section -->

 <section class="our-story-section section section-line">
      <div class="container text-center">
          {%for i in os1%}
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10" data-aos="fade-up" data-aos-duration="3000">
              <h2 class="section-title">

                <span>{{i.ostory_curcive_text}}</span>
                  {{i.ostory_bold_text}}
              </h2>
              <p class="text-para">{{i.ostory_p1}}</p>
              <p class="text-para">{{i.ostory_p2}}</p>
              <div class="text-center">
                <a href="{{i.ostory_link}}" class="btn btn-fill mt-3">Read More</a>
              </div>
            </div>
          </div>
          {%endfor%}
      </div>
    </section>
<!-- end our-story section -->

<!-- why-choose section -->
    <section class="why-choose-section section">
      <div class="container text-center">
        <h2 class="section-title">
          WHY
          <span>Choose Us</span>
        </h2>
        <div class="row">
             {%for i in w1%}
          <div class="col-md-4">

            <div class="why-single-box" data-aos="fade-up" data-aos-duration="3000">
              <img src='/media/{{i.wcu_image}}' alt="">
              <h4><span class="d-block">{{i.wcu_title}}</span> {{i.wcu_subtitle}}</h4>
              <p>{{i.wcu_p}}</p>
            </div>

          </div>
            {%endfor%}
        </div>
        <div class="text-center">
          <a href="/register/" class="btn btn-bordered btn-lg mt-2 mt-md-5">Register Now</a>
        </div>
      </div>
    </section>
    <!-- end why-choose section -->

    <!-- our-suppliers section -->
    <section class="our-suppliers-section section section-line">
      <div class="container text-center">
        <img src='{% static "ecomsite/images/suppliers-rnw.png" %}' class="suppliers-rnw-logo" alt="">
        <h2 class="section-title">
          <span>Our Suppliers</span>
        </h2>
        <div class="jcarousel-wrapper" data-aos="fade-down" data-aos-duration="1500">
          <div class="jcarousel">

            <ul>
                {%for i in os2%}
              <li>
                <div class="suppliers-logo"><img src='/media/{{i.osuppliers_image}}'  class="img-fluid" alt=""></div>
              </li>
                {%endfor%}
            </ul>
          </div>
          <a href="#" class="jcarousel-control-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          <a href="#" class="jcarousel-control-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </section>
    <!-- end our-suppliers section -->

 <!-- product section -->
    <section class="product-section section">
      <div class="container text-center">
        <h2 class="section-title">
          <span>Featured</span>
          Product Categories
        </h2>
        <span class="title-line"></span>
        <div class="row pb-lg-4">
          {%for i in pr%}
            {% if i.show_on_home %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
           <a href="{%url 'productdetail' id=i.pr_id %}" class="recentvisit" id="{{i.pr_id}}">
            <div class="single-product-box">
              <img src='/media/{{i.pr_image}}'  class="img-fluid product-img" alt="">
              <h4>{{i.pr_title}}</h4>
              <p>{{i.pr_desc}}</p>
              <div class="d-flex">
                <a href="javascript:void(0)" class="product-cart" onclick="addtocart('{{i.pr_id}}','{{request.session.user_id}}')"><img src='{% static "ecomsite/images/cart-icon.svg" %}' class="img-fluid" alt=""></a>
                <a href="javascript:void(0)" class="product-cart" onclick="wish('{{i.pr_id}}','{{request.session.user_id}}')"><img src='{% static "ecomsite/images/wishlist-icon.svg" %}' class="img-fluid" alt=""></a>
              </div>
            </div>
           </a>
          </div>
            {%endif%}
            {%endfor%}
        </div>
        <div class="text-center mt-5">
          <a href="/login/" class="btn btn-bordered mr-2">Login for Prices</a>
          <a href="/products/" class="btn btn-fill">Explore More</a>
        </div>
      </div>
    </section>
    <!-- end product section -->

<!-- product-sold section -->
    <section class="product-sold-section section" data-aos="fade-down" data-aos-duration="3000">
      <div class="container">
          {%for i in hsp%}
        <div class="row">
          <div class="col-lg-5 product-sold-content">
            <h2 class="section-title">
              <span>{{i.hsp_curcive_text }}</span>
                {{i.hsp_title1 }}<label>{{i.hsp_title2 }}</label>
            </h2>
            <p>*{{i.hsp_subtitle}}</p>
            <a href="/register/" class="btn btn-bordered">Register Now</a>
          </div>
          <div class="col-lg-7 product-sold-img">
            <img src='/media/{{i.hsp_image}}' class="img-fluid" alt="">
          </div>
        </div>
          {%endfor%}
      </div>
    </section>
    <!-- end product-sold section -->

<!-- work-with section -->
    <section class="work-with-section section" data-aos="fade-down" data-aos-duration="1000">
      <div class="container text-center">
        <img src='{% static "ecomsite/images/suppliers-rnw.png" %}' alt="">
        <h2 class="section-title">
          <span>We work with</span>
        </h2>
        <div class="row align-items-center">
            {%for i in www%}
          <div class="col-6 col-md-3 work-with-logo">
            <img src='/media/{{i.www_image}}' class="img-fluid" alt="">
          </div>
            {%endfor%}
        </div>
      </div>
    </section>
    <!-- end work-with section -->

<!-- manage-your section -->
    <section class="manage-your-section section" data-aos="fade-up">
      <div class="container">
          {%for i in mys%}
        <div class="manage-bg">
          <div class="row align-items-end">
            <div class="col-lg-4 col-md-8">
              <h3>{{i.mys_title}}</h3>
            </div>
            <div class="col-lg-3 col-md-4">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#" class="golden-bg"><img src='/media/{{i.mys_icon1}}'  class="img-fluid" alt=""></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="dark-golden-bg"><img src='/media/{{i.mys_icon2}}'class="img-fluid" alt=""></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="black-golden-bg"><img src='/media/{{i.mys_icon3}}' class="img-fluid" alt=""></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="truck-img text-center">
          <img src='/media/{{i.mys_image}}' class="img-fluid" alt="">
        </div>
          {%endfor%}
      </div>
    </section>
    <!-- end manage-your section -->

<section class="our-fleet-section section" data-aos="fade-up" data-aos-duration="1000">
      <div class="container text-center">
        <div class="row justify-content-center">
            {%for i in of%}
          <div class="col-xl-9 col-lg-10">
            <h2 class="section-title">{{i.of_title}}</h2>
            <p class="text-para">{{i.of_desc1}}</p>
            <p class="text-para">{{i.of_desc2}}</p>
            <div class="text-center">
              <a href='/register/' class="btn btn-fill mt-4">Register Now</a>
            </div>
          </div>
            {%endfor%}
        </div>
      </div>
    </section>

<!-- regions section -->
    <section class="regions-section" data-aos="fade-up" data-aos-duration="1000">
      <div class="container-fluid">
          {%for i in rws%}
        <div class="row align-items-center">
          <div class="col-lg-6 px-0">
            <img src='/media/{{i.rws_image}}' class="w-100" alt="">
          </div>
          <div class="col-lg-6 regions-content">
            <h2 class="section-title">
              <span>{{i.rws_title}}</span>
            </h2>
            <p class="text-para">{{i.rws_p1}}</p>
            <p class="text-para">{{i.rws_p2}}</p>
            <a href='/contactus/' class="btn btn-fill mt-4">Contact Us</a>
          </div>
        </div>
          {%endfor%}
      </div>
    </section>
    <!-- end regions section -->



{% endblock %}


