{% extends 'ecomsite/main.html' %}

{% block content %}
{%load static%}
<!-- banner section -->
    <section class="banner-section inner-page-banner product-detail-banner">
      <!-- <div class="container">
        <h1 class="text-center">Products</h1>
      </div> -->
    </section>
    <!-- end banner section -->

    <!-- product-detail-page -->
    <section class="product-detail-page section page-cacke-bg">
      <div class="container">
        <!-- product-detail-section -->
        {%for i in plist%}
        {%if id == i.pr_id%}
        <div class="product-detail-section">
          <div class="row">
            <div class="col-md-6">
              <div class="product-detail-img">
               {%if i.flash_sale%}
                  <div class="sale-tag">FLASH SALE</div>
                  {%elif i.seasonal_sale%}
                  <div class="sale-tag sale-tag2 sml-tag-text">SEASONAL PROMOTION</div>
                  {%endif%}
                <img src="/media/{{i.pr_image}}" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="brdr-btm">
                <h2 class="product-name-detail">
                  <span>{{i.pr_category}}</span>
                  {{i.pr_title}}
                </h2>
                <div class="row">
                  <div class="col-sm-6">
                    <p>Brand: {{i.pr_brand}}</p>
                  </div>
                  <div class="col-sm-6 text-sm-right">
                    <p>Product ID: {{i.pr_id}}</p>
                  </div>
                </div>
              </div>
              <div class="brdr-btm">
                <p class="product-price">${{i.pr_price}}<span>/Unit</span></p>
              </div>
              <div class="brdr-btm">
                <p>{{i.pr_detail}}</p>
              </div>
              {%if request.session.user_id %}
              <a href="javascript:void(0)" class="product-cart" onclick="addtocart('{{i.pr_id}}','{{request.session.user_id}}')">
              <button type="submit" class="btn btn-fill btn-add-cart mt-3"><img src='{%static "ecomiste/images/cart-icon-white.svg"%}' class="img-fluid" alt=""> ADD TO CART</button>
              </a>

              {%else%}
              <a href="/login/" class="login">
              <button type="submit" class="btn btn-fill btn-add-cart mt-3"><img src='{%static "ecomiste/images/cart-icon-white.svg"%}' class="img-fluid" alt=""> LOGIN</button>
              </a>
              {%endif%}
            </div>
          </div>
        </div>
        {%endif%}
        {%endfor%}
        <!-- end product-detail-section -->

        <!-- accordion-product-detail -->
        <div class="accordion" id="accordion-product-detail">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 data-toggle="collapse" data-target="#collapseOne">
                  Our Guarantee
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion-product-detail">
              <div class="card-body">
                <p class="text-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique ultrices urna, vitae euismod arcu feugiat sed. Pellentesque semper consequat odio, finibus sodales metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis eget mauris lacinia, rhoncus metus sit amet, porta purus. Sed eu feugiat nisl. Curabitur porttitor sed nisl non sollicitudin. Donec iaculis ipsum vitae ex pellentesque, lacinia tristique nibh interdum. Etiam quis leo efficitur, vulputate lacus nec, fringilla turpis. Sed euismod ante quis est luctus dictum.</p>
                <p class="text-para">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi malesuada pulvinar lobortis. Ut aliquet diam eget convallis porta. Cras quis porttitor orci, in elementum odio. Vivamus tempor, ipsum ut lobortis finibus, quam enim feugiat metus, eget fermentum velit lacus ac neque.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="collapsed" data-toggle="collapse" data-target="#collapseTwo">
                  Returns
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion-product-detail">
              <div class="card-body">
                <p class="text-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique ultrices urna, vitae euismod arcu feugiat sed. Pellentesque semper consequat odio, finibus sodales metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis eget mauris lacinia, rhoncus metus sit amet, porta purus. Sed eu feugiat nisl. Curabitur porttitor sed nisl non sollicitudin. Donec iaculis ipsum vitae ex pellentesque, lacinia tristique nibh interdum. Etiam quis leo efficitur, vulputate lacus nec, fringilla turpis. Sed euismod ante quis est luctus dictum.</p>
                <p class="text-para">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi malesuada pulvinar lobortis. Ut aliquet diam eget convallis porta. Cras quis porttitor orci, in elementum odio. Vivamus tempor, ipsum ut lobortis finibus, quam enim feugiat metus, eget fermentum velit lacus ac neque.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end accordion-product-detail -->

        <!-- recently-viewed-product -->
        <div class="recently-viewed-product">
          <h2 class="product-page-title">RECENTLY VIEWED</h2>
          <div class="row" id="recent_products_container">


          </div>
        </div>
        <!-- end recently-viewed-product -->

        <!-- recently-viewed-product -->
        <div class="intreseted-products">
          <h2 class="product-page-title">YOU MIGHT BE INTRESETED <span class="d-block">IN THESE PRODUCTS</span></h2>
          <div class="row">
            {% for i in a %}
                {% for j in plist %}
                    {%if i.pr_category == j.pr_category and i.pr_id != j.pr_id %}
                        <div class="col-lg-4 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="single-product-box">
                <img src="/media/{{i.pr_image}}" class="img-fluid product-img" alt="">
                <h4>{{i.pr_title}}</h4>
                <p>{{i.pr_desc}}</p>
                {%if request.session.user_id %}
                  <div class="d-flex">
                    <a href="javascript:void(0)" class="product-cart" onclick="addtocart('{{i.pr_id}}','{{request.session.user_id}}')"><img src='{%static "ecomsite/images/cart-icon.svg"%}' class="img-fluid" alt=""></a>
                    <a href="#" class="product-cart"><img src='{%static "ecomsite/images/wishlist-icon.svg"%}' class="img-fluid" alt=""></a>
                  </div>
                  {%endif%}
              </div>
            </div>
            {%endif%}
                {%endfor%}
            {%endfor%}



          </div>
        </div>
        <!-- end recently-viewed-product -->

      </div>
    </section>
    <!-- end product-detail-page -->
<script>
$(function(){
  StoreRecentProducts();
  GetRecentViewProducts();
})

function containsObject(obj, list) {
    var x;
    for (x in list) {
        if (list.hasOwnProperty(x) && list[x] === obj) {
            return true;
        }
    }
    return false;
}


function StoreRecentProducts(){
  var id = '{{id}}'
  var main_array = [];
  var previouse_items = JSON.parse(window.localStorage.getItem('viewed_items'))
  if(previouse_items === null){
    main_array = [id]
  }else{
    if (containsObject(id,previouse_items)==true)
    {
      main_array = previouse_items
    }
    else
    {
      previouse_items.push(id)
      main_array = previouse_items
    }
  }
  window.localStorage.setItem('viewed_items', JSON.stringify(main_array));
}

function GetRecentViewProducts(){
    var cpare = localStorage.getItem("viewed_items");


    $.ajax({
      method:'POST',
      url:'{% url 'get_recent_products'  %}',
      data:{ products:cpare, csrfmiddlewaretoken: document.querySelector('input[name="csrfmiddlewaretoken"]').value },
      dataType:'html',
      success:function(response){
        $("#recent_products_container").html(response)
      }
    })
}
</script>
{%endblock%}