{% extends 'ecomsite/main.html' %}
{%block content%}
{%load static%}
 <!-- banner section -->
    <section class="banner-section inner-page-banner product-detail-banner">
    </section>
    <!-- end banner section -->

    <!-- product-detail-page -->
    <section class="login-page section">
      <div class="container">
        <h1 class="page-title page-title-line">Don’t have an account? <span class="d-block">Create a new one!</span></h1>
         {%if error.error%}
                <div class="alert alert-danger text-danger">

                    <strong>{{error.error}}</strong>
                </div>
              {%endif%}
        <form action="/register/" method="post">{% csrf_token %}
          <h3 class="other-title">Contact Info.</h3>
          <div class="row register-form">
            <div class="col-md-3">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstname" placeholder="First Name">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Phone</label>
                <input type="tel" class="form-control" name="phone" placeholder="Phone">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row register-form mt-4">
            <div class="col-lg-6">
              <h3 class="other-title">Billing Address</h3>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Street Address</label>
                    <input type="text" class="form-control" name="streetaddress" placeholder="Street Address" id="streetaddress">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" placeholder="City" id="city">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Postal Code</label>
                    <input type="text" class="form-control" name="postalcode" placeholder="Postal Code" id="postalcode">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Province</label>
                    <input type="text" class="form-control" name="province" placeholder="Province" id="province">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="country" placeholder="Country" id="country">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 shipping-address">
              <h3 class="other-title">Shipping Address</h3>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Shipping-Address-Same" name="shippingaddress">
                <label class="custom-control-label" for="Shipping-Address-Same">Shipping Address Same as Billing Address</label>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Street Address</label>
                    <input type="text" class="form-control" name="streetaddress1" placeholder="Street Address" id="streetaddress1">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city1" placeholder="City"  id="city1">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Postal Code</label>
                    <input type="text" class="form-control" name="postalcode1" placeholder="Postal Code" id="postalcode1">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Province</label>
                    <input type="text" class="form-control" name="province1" id="province1" placeholder="Province">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="country1" id="country1" placeholder="Country">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-md-5 pt-3">
            <div class="col-6 col-md-6">
              <button type="submit" class="btn btn-fill w-100">Register</button>
            </div>
            <div class="col-6 col-md-auto pl-0">
              <button type="button" class="btn btn-fill btn-gray"><a href="\register\" style="color:white">Cancel</a></button>
            </div>
          </div>
          </div>
        </form>
      </div>
    </section>
    <script>
      $("#Shipping-Address-Same").on('click',function(){
        if($("#Shipping-Address-Same").is(':checked')){
            $("#streetaddress1").val($("#streetaddress").val());
            $("#city1").val($("#city").val());
            $("#postalcode1").val($("#postalcode").val());
            $("#province1").val($("#province").val());
            $("#country1").val($("#country").val());
        }else{
            $("#streetaddress1").val('');
            $("#city1").val('');
            $("#postalcode1").val('');
            $("#province1").val('');
            $("#country1").val('');
        }
      })
    </script>
    <!-- end product-detail-page -->
{%endblock%}